*{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;

}
.learncode{
    width: 100%;
    height: 500px;
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #f8f6f6;
    padding-top: 70px;
}
#learncode{
    font-size: 70px;
    font-weight: 700;
}
#learn2{
    color: #FFC0C7;
    font-weight: 700;
    margin-top: 30px!important;
    font-size: 23px;
}
.search{
    width: 32%;    
    margin-left: 34%;
}
#search-div{
    padding-left: 40%;
}
a{
    cursor: pointer;
    text-decoration: underline;
    font-size: 23px;
    font-weight: 700;
    color: white;
}
.html{
    width: 100%;
    height: 630px;
    background-color: #D9EEE1;
    padding-top: 6%;
    display: flex;
    flex-direction: row;
}
.content-left{
    width: 50%;
    height: 530px;
    /* float: left; */
    text-align: center;
}
.content-right{
    width: 42%;
    height: 530px;
    float: left;
}
#content-text{
    font-size: 100px;
    font-weight: 700;
    margin-top: -18px;
    font-family: 'Source Sans Pro', sans-serif;
}
#html-btn{
    border-radius: 25px;
    padding-left: 52px;
    padding-right: 39px;
}
.html-example{
    padding: 16px;
    background-color: #38444d;
    color: #ddd;
    border-radius: 5px;

}
.html-code{
    font-size: 15px;
    height:300px;
    background-color:black;
}
.css{
    width: 100%;
    height: 620px;
    padding-top: 6%;
    display: flex;
    flex-direction: row;
    background-color: #FFF4A3;
}
.javascript{
    width: 100%;
    height: 610px;
    padding-top: 6%;
    display: flex;
    flex-direction: row;
    background-color: #070707;
}
.js-code{
    font-size: 15px;
    height:231px;
    background-color:black;
}
.python{
    width: 100%;
    height: 610px;
    padding-top: 6%;
    display: flex;
    flex-direction: row;
    background-color: #F3ECEA;
}
